<nav>
    <div class="navbar1">
        <ul class="navbar2">
            <ul>
                <li class="navbar6">
                    <span>L</span>
                    <span>O</span>
                    <span>G</span>
                    <span>O</span>
                </li>
            </ul>
			<div class="navbar4">
                    <form action="/action_page.php">
                       <input type="text" placeholder="Search..." name="search">
                       <button class="button" type="submit"><i class="fa fa-search"></i></button>
                   </form>
                   </div>
            <label for="toggle">&#9776</label>
            <input type="checkbox" id="toggle"/>
            <li class="navbar3">
                    <a href="#" class="nav-link">Home</a>
                    <a href="#"class="nav-link">Blog</a>
                    <a href="#"class="nav-link">About</a>
                    <a href="#"class="nav-link">Contacts</a>
            </li>
            
        </ul>
    </div>
    
</nav>