.navbar2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    align-items: center;
    padding: 10px 0px;
	background-color:green;
}
.navbar3{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
}
.navbar6, .navbar4{
    padding: 10px;
    list-style: none;
}
.nav-icon{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}
.nav-icon:hover{
    color: rgb(22, 185, 22);
}
.nav-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 30px;
    
}
.nav-link:hover{
    color: rgb(22, 185, 22);
}
span{
    background-color: darkgreen;
    padding: 10px;
    border-radius: 25px 1px 25px 1px;
    color: white;
}
input[type=text] {
   border: 2px solid rgb(13, 122, 40);
   font-size:12px;
   padding: 5px;
  }
  .button {
    padding: 5px;
    background: rgb(255, 255, 255);
    font-size: 14.5px;
    border: 2px solid rgb(13, 122, 40);
    cursor: pointer;
    color: green;
  }
  .button:hover{
    background-color: rgb(22, 185, 22);
    color: white;
  }
  label{
      font-size: 28px;
      display: none;
      color: white;
      z-index: 1098;
  }
  #toggle{
      display: none;
  }
  @media only screen and (max-width: 800px){
    label{
        display: block;
        cursor: pointer;
    }
    .nav-icon{
        padding: 0px 5px;
    }
    .picture{
        width: 100%;
        height: auto;
    }
    .picture1{
        width: 100%;
        height: auto;
    }
    .navbar3{
        display:none;
        text-align: center;
        width: 100%;
        line-height: 70px;
        font-size: 20px;
    }
    .navbar3 a{
        display: block;
        border-bottom: 1px solid gray;
    }
    #toggle:checked + .navbar3{
        display:block;
    }
  } 
  