*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
body{
	background-image:radial-gradient(green ,darkgreen); 
}
.green{
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 30px;
}
.body-1{
    padding: 10px;
}
.p1{
color: white; 
font-size: 25px;
}
@media only screen and (max-width: 800px){
    .p1{
        color: white;
        font-size: 15px;
    }
}
.contiener{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}