*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
.contiener{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}
.conteiner-1{
    padding-top: 45px;
}
body{
	background-image:radial-gradient(green ,darkgreen); 
}
.green{
    padding-top: 45px;
    padding-left:15px ;
    color: white;
    text-align: left;
    font-size: 30px;
    border-bottom:1px solid yellowgreen;
    font-family: fantasy;
}
.body-1{
    padding: 10px;
}
.p1{
color: white; 
font-size: 20px;
line-height: 30px;
padding-bottom: 45px;
border-bottom: 1px solid greenyellow;

}
.photo{
    position: relative;
    text-align: center;
    color:white;
}
.photo1{
    width: 100%;
    height: auto;
}
.text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text1{
    font-size: 20px;
    line-height: 30px;
}
.button1{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    line-height: 60px;
    padding: 10px 20px;
}
.button1:hover{
    background-color: green;
    color: white;
    border: 1px solid green;
    line-height: 35px;
}
.picture{
    border-radius:20% 0% 0% 0;
}
.picture1{
    width: 50%;
    height: auto;
    float: left;
}
@media only screen and (max-width: 800px){
    .p1{
        color: white;
        font-size: 18px;
	text-align:left;    
	line-height: 25px;    	
    }
    .green{
        font-size: 20px;
    }
    img{
        width: 100%;
        height: auto;
    }
    .text{
        position: absolute;
        top:50%;
        left:3%;
        right: 3%;
        transform: translate(0%, -35%);
    }
    .text1{
        font-size: 13px;
        line-height: 15px;
    }
    .button1{
        font-size: 15px;
        padding: 5px 10px;
    }
    .button1:hover{
        background-color: green;
        color: white;
        border: 1px solid green;
        font-size: 15px;
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 1300px){
    .p1{
        color: white;
        letter-spacing: 1px;
        line-height: 30px;
        font-size: 21px;
    }
    .navbar3{
        font-size: 17px;
    }
    .navbar6{
        font-size: 17px;
    }
}

@media only screen and (max-width: 1150px){
    .p1{
        color: white;
        font-size: 18px;
    }
    .picture{
        width: 270;
        height: 230;
    }
    .picture1{
        width: 300;
        height: 350;
    }
    
}
