<html>
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include head.html %}
      <div class="body-1">
          <div class="photo">
              <img class="photo1" src="assets/images/nature.jpg" alt="Nature green">
              <div class="text">
                  <p class="text1">Also, green around the gills. Looking ill or nauseated, as in After that bumpy ride she looked quite green about the gills</p>
                  <a href="#" class="button1">Get more</a>
                </div>
          </div>
          <div class="green">
              <h2>Green Is Life</h2>
          </div>
          <div class="image1" style="float: left; padding-right: 10px;">
            <img class="picture1"src="assets/images/earth.jpg" width="700" height="auto">
          </div>
          <p class="p1">
              A tree is a tall plant with a trunk and branches made of wood. Trees can live for many years. The oldest tree ever discovered is approximately 5,000 years old and the oldest tree from the UK is about 1,000 . The four main parts of a tree are the roots, the trunk, the branches, and the leaves.

                The roots of a tree are usually under the ground. However, this is not always true. The roots of the mangrove tree are often under water or on the sides of cliffs.[1] A single tree has many roots. The roots carry nutrients and water from the ground through the trunk and branches to the leaves of the tree. They can also breathe in air.[1] Sometimes, roots are specialized into aerial roots, which can also provide support, as is the case with the banyan tree.
                
                The trunk is the main body of the tree. The trunk is covered with bark which protects it from damage. Branches grow from the trunk. They spread out so that the leaves can get more sunlight. The trunk also sways slightly in the wind to prevent it from falling over.
                
                The leaves of a tree are green most of the time, but they can come in many colors, shapes and sizes. The leaves take in sunlight and use water and food from the roots to make the tree grow, and to reproduce.
                
                Trees and shrubs take in water and carbon dioxide and give out oxygen with sunlight to form sugars. This is the opposite of what animals do in respiration. Plants also do some respiration using oxygen the way animals do. They need oxygen as well as carbon dioxide to live. Trees are renewable resources because they can continuously grow.</p>
          </div>
          <div class="contiener">
              <div class="conteiner-1">
                    <img class="picture" src="assets/images/gogreen.jpg" width="300" height="200">
                    <p style="color: white; text-align: center; font-size: 20px; padding: 10px;">Go - Green</p>
              </div>
              <div>
                <img class="picture" src="assets/images/warle.jpg" width="300" height="200">
                <p style="color: white; text-align: center; font-size: 20px; padding: 10px;">Go - Warle</p>
            </div>
            <div>
                <img class="picture" src="assets/images/tree.jpg" width="300" height="200">
                <p style="color: white; text-align: center; font-size: 20px; padding: 10px;">Go - Tree</p> 
            </div>
          </div>
          <footer>
              <div style="text-align: center;">
                <a href="#" style="text-decoration: none; color: white;">Copyrights© 2019 Created By Sarvar</a>
            </div>
        </footer>
    
    </body>
   
</html>